.menu{
    width: 100%;
    height: 4vw;
    background-color: black;
    color: white;
}
nav{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
li{
    width: 4%;
}
a{
    font-size: 20px;
    text-decoration-line: none;
    color: rgba(35, 35, 114, 0.815);
}