.country-general{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.prueba{
    background-color: blue;
    height: 10px;
    position: relative;
    bottom: 0;
}