.country-form{
    width: 100%;
    height: 20vw;
    background-image: url(../media/img/fondo-header.jpg);
    background-size: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-country{
    height: 25%;
    width: 20%;
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    display: flex;   
    align-items: center;
    justify-content: center;
}
.component-country-form{
    background-color: none;
}
.component-country-form input {
    padding: 4px 3px;
    border: none;
    outline: none;
}
.container-btn-country-form{
    background-color: none;
}
.container-btn-country-form button{
    padding: 4px 15px;
    color: white;
    background-color: black;
    border: none;
    transition: .2s;
}
.container-btn-country-form button:hover{
    background-color: rgb(0, 45, 71);
}
.country-sharch{
    width: 100%;
    height: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}